<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container card">
        <h1 class="title-screen">Hello</h1>
        <canvas id="myChart" widht=280 height="350"></canvas>
    </div>
    <br>
    <br>
    <div class="button-songs">
        <button class="button-songs" onclick="getSongs()">Get Song</button>
    </div>
    <br>
    <div class="card-columns" id="stack" width=300></div>
<script src="../static/main.js"></script>

</body>

<script>

let myChart = document.getElementById('myChart').getContext('2d'); 

let joy = '{{ data["joy"] }}' || 0; 
let confident = '{{ data["confident"] }}' || 0; 
let analytical = '{{ data["analytical"] }}' || 0; 
let anger = '{{ data["anger"] }}' || 0; 
let tentative = '{{ data["tentative"] }}' || 0; 
let sadness = '{{ data["sadness"] }}' || 0; 
let fear = '{{ data["fear"] }}' || 0; 

console.log("here should be joy ----->", joy); 

let chart = new Chart(myChart, {
    type: 'horizontalBar', 
    data: {
        labels: [
            'joy', 
            'confident',
            'analytical', 
            'anger',
            'tentative',
            'sadness',
            'fear' ], 
        datasets: [{
            label: 'Scores', 
            data: [joy, confident, analytical, anger, tentative, sadness, fear], 
        backgroundColor: ['green', 'blue', 'purple', 'red', 'orange', '#000080', 'gray']

        }]
    }, 
    options: {}
})



</script>
</html>